<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" href='static/css/estilocontato.css'>
    <title>CONTATO</title>
</head>
<body>
    <header>
        <img class="logo" src="static/img/logoo.png">
        <div class="cabecalho">
            <a class="cabecalho1" href="/"><bottom>Inicio</bottom></a>
            <a class="cabecalho1" href="/servicos"><bottom>Serviços</bottom></a>
            <a class="cabecalho1" href="/contato"><bottom>Contato</bottom></a>
            <a class="cabecalho1" href="/sobre"><bottom>Sobre Nós</bottom></a>
            <a class="cabecalho1" href="/calc"><bottom>Calcular IMC</bottom></a>
        </div>
    </header>
    <div class="interface">
        <img src="static/img/image clinica.jpg" class="desenhoclinica">
        <h1>Clinica Nutrivital</h1>
        <br>
        <p class="confira">Confira Abaixo</p>
        <br>
        <p>Transforme sua jornada em uma história de sucesso, comece hoje sua trajetória rumo a uma vida mais saudável e feliz com a nossa equipe de nutrição ao seu lado!</p>
        <div>
            <br>
           <a href="https://www.instagram.com/"> <img class="logo1" src="static/img/logo-instagram-branco.png" alt=""></a>
          <a href="https://m.facebook.com/login/?locale=pt_BR">  <img class="logo2" src="static/img/logo-facebook-branco.png" alt=""></a>
        </div>
        <br><br>
    </div>
    <footer>
        <div class="rede">
               <img class="insta" src="static/img/logo-instagram-branco.png">
               <img class="face" src="static/img/logo-facebook-branco.png">
           </div>
            <div>
               <h2 class="h2senai fonte">Clinica NutriVital</h2>
               <p class="endereco fonte">Avenida João Cernach, 2180 - Vila Troncoso - Vila Troncoso, Birigui - SP, 16203-004</p>
   <br>            
               <h3 class="h2senai fonte">Secretaria</h2>
                   <p class="endereco fonte">(11) 3322-0050 (Telefone/WhatsApp)
               0800-055-1000 (Interior de SP, somente telefone fixo)</p>
            </div>
   
       </footer>
</body>
</html>