<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NutriVital</title>
    <link rel="stylesheet" href='static/css/estilus.css'>
</head>
<body>
    <header>
        <img class="logo" src="static/img/logoo.png">
        <div class="cabecalho">
            <a class="botcabecalho" href="/"><bottom>Inicio</bottom></a>
            <a class="botcabecalho" href="/servicos"><bottom>Serviços</bottom></a>
            <a class="botcabecalho" href="/contato"><bottom>Contato</bottom></a>
            <a class="botcabecalho" href="/sobre"><bottom>Sobre Nós</bottom></a>
            <a class="botcabecalho" href="/calc"><bottom>Calcular IMC</bottom></a>
        </div>
    </header>
    <h1 class="h11">Quem Somos</h1>
    <div class="div1">
        <img class="imageim1" src="static/img/nutrição.jpg">
        <div class="div2">
            <p class="p1">Bem-vindo ao NutriVital! Somos apaixonados por nutrição equilibrada e oferecemos orientação 
                personalizada para ajudá-lo a alcançar seus objetivos de saúde. Explore nosso site para artigos, 
                receitas e dicas de estilo de vida saudável. Nossos especialistas estão prontos para criar um plano 
                alimentar adaptado a você. Junte-se à nossa comunidade e comece sua jornada para uma vida mais 
                saudável hoje!</p>
        </div>
    </div>
   <h2 class="h21">Um pouco sobre Nós</h2>
    <div class="div3">
        <div class="div4">
        <p class="p2">Na NutriVital, nutrir vai muito além de alimentar o corpo. 
            É um compromisso com a saúde e o bem-estar integral. Nossa clínica nutricionista é um espaço onde cada indivíduo 
            é cuidadosamente atendido, compreendido e orientado em sua jornada rumo a uma vida mais saudável e equilibrada. </p>

        <p class="p3">Nossos profissionais são apaixonados pela nutrição e dedicados a oferecer o melhor suporte para que nossos clientes 
            alcancem seus objetivos. Com uma abordagem personalizada, consideramos não apenas a dieta, mas também o estilo de vida, 
            as preferências individuais e as necessidades específicas de cada pessoa.</p>
        </div>
    </div>
    <footer>
        <div class="rede">
               <img class="insta" src="static/img/imginstagraum.png">
               <img class="face" src="static/img/logo-facebook-branco.png">
           </div>
            <div>
               <h2 class="h2senai fonte">SENAI BIRIGUI</h2>
               <p class="endereco fonte">Avenida João Cernach, 2180 - Vila Troncoso - Vila Troncoso, Birigui - SP, 16203-004</p>
   <br>            
               <h3 class="h2senai fonte">CENTRAL DE RELACIONAMENTO</h2>
                   <p class="endereco fonte">(11) 3322-0050 (Telefone/WhatsApp)
               0800-055-1000 (Interior de SP, somente telefone fixo)</p>
            </div>
       </footer>
</body>
</html>