<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Serviços</title>

    <link rel="stylesheet" href="static/css/estilo.css">
</head>
<header>
    <img class="logo" src="static/img/logoo.png">
    <div class="cabecalho">
        <a class="botcabecalho" href="/"><bottom>Inicio</bottom></a&gt;>
        <a class="botcabecalho" href="/servicos"><bottom>Serviços</bottom></a>
        <a class="botcabecalho" href="/contato"><bottom>Contato</bottom></a&gt;>
        <a class="botcabecalho" href="/sobre"><bottom>Sobre Nós</bottom></a>
        <a class="botcabecalho" href="/calc"><bottom>Calcular IMC</bottom></a>

    </div>
</header>
<body>
    <div class="centralizar">
        <img class="imgtamanho borda" src="static/img/banner.png">
    </div>

    <br><br><br>

    <h1 class="fonte centralizar titulo tamanho branco">NOSSOS SERVIÇOS</h1>
    
    <Br>
    <div class="container">
        <div class="div1 fonte centralizar">
            <img class="imgdiv margemdiv borda" src="static/img/fotonutri.png">
            <h3 class="tit fonte centralizar txtdiv mg">CONSULTA INDIVIDUAL</h3>
            <p class="cinza margemp fonte tamanhofont centralizar">Um serviço personalizado onde um nutricionista avalia o histórico médico, estilo de vida, preferências alimentares e metas de saúde.</p>
        </div>
        <div class="div2">
            <img class=" imgdiv margemdiv borda" src="static/img/fotoemagrecer.png">
            <h3 class="tit fonte centralizar txtdiv mg">PROJETO EMAGRECER</h3>
            <p class="cinza margemp fonte tamanhofont centralizar">programas especializados para ajudar clientes a atingir e manter um peso saudável, com planos alimentares, acompanhamento regular e apoio emocional.</p>
        </div>
        <div class="div3">
            <img class=" imgdiv margemdiv borda" src="static/img/nutriesport.png">
            <h3 class="tit fonte centralizar txtdiv mg">ACOMPANHAMENTO ESPORTIVO</h3>
            <p class="cinza margemp tamanhofont fonte centralizar">Para atletas e pessoas que praticam atividades físicas regularmente.</p>
            </div>
    </div>
</body>
<footer>
    <div class="rede">
           <img class="insta" src="static/img/logo-instagram-branco.png">
           <img class="face" src="static/img/logo-facebook-branco.png">
       </div>
        <div>
           <h2 class="h2senai fonte">SENAI BIRIGUI</h2>
           <p class="endereco fonte">Avenida João Cernach, 2180 - Vila Troncoso - Vila Troncoso, Birigui - SP, 16203-004</p>
<br>            
           <h3 class="h2senai fonte">CENTRAL DE RELACIONAMENTO</h2>
               <p class="endereco fonte">(11) 3322-0050 (Telefone/WhatsApp)
           0800-055-1000 (Interior de SP, somente telefone fixo)</p>
        </div>

   </footer>
</html>