<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sobre nós</title>
        <link rel="stylesheet" href='static/css/estilosobre.css'>
    </head>
    <body>
        <header>
            <img class="logo" src="static/img/logoo.png">
            <div class="cabecalho">
                <a class="botcabecalho" href="/"><bottom>Inicio</bottom></a>
                <a class="botcabecalho" href="/servicos"><bottom>Serviços</bottom></a>
                <a class="botcabecalho" href="/contato"><bottom>Contato</bottom></a>
                <a class="botcabecalho" href="/sobre"><bottom>Sobre Nós</bottom></a>
                <a class="botcabecalho" href="/calc"><bottom>Calcular IMC</bottom></a>
            </div>
        </header>
        <div class="container" >
           <h1 class="sn">Sobre  Nós</h1>
           <p class="introducao">Nosso objetivo, de forma principal, é levar para você um espaço único e completo com nutricionistas especializados, que irão realizar um atendimento individualizado, levando em conta as suas particularidades.</p>
        </div>
<br><br>
        <div class="equipe">
            <br>
            <h2 class="teqp">Conheça Nossa Equipe</h2>
<br>
            <p class="descequipe">A NutriVital possui uma equipe altamente qualificada para cuidar de sua saúde e bem-estar. Nossos nutricionistas são os mais capacitados do mercado, preparados para atender nossos pacientes, realizar o diagnóstico e elaborar o planejamento alimentar mais adequado. Nós levamos a sério e oferecemos atendimento individualizado e personalizado. Agende sua consulta e venha conhecer de perto a melhor e maior equipe de nutricionistas.</p>
        </div>
<br><br>
    <footer>
     <div class="rede">
            <img class="insta" src="static/img/logo-instagram-branco.png">
            <img class="face" src="static/img/logo-facebook-branco.png">
        </div>
         <div>
            <h2 class="h2senai fonte">Clinica NutriVital</h2>
            <p class="endereco fonte">Avenida João Cernach, 2180 - Vila Troncoso - Vila Troncoso, Birigui - SP, 16203-004</p>
<br>            
            <h3 class="h2senai fonte">Secretaria</h2>
                <p class="endereco fonte">(11) 3322-0050 (Telefone/WhatsApp)
            0800-055-1000 (Interior de SP, somente telefone fixo)</p>
         </div>

    </footer>
    </body>
</html>
